body {
  font: helvetica;
}
h1{
  text-align: center;
  font-size: 70PX;
  color: white;
}
.navbtn{
  color: white;
  font-size: 18px;
}
h2 {
  font-size: 32px;
  text-align: center;
}
h3{
  font-size: 23px;
  text-align: center;
}
p{
  font-size:14px;
  text-align: center;
}
.hero {
  text-align: center;
  color: white;
  background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png');
}
.hero h2 {
font-weight: bold;
}
.footer p {
  background-color: dimgray;
  font-size: 11px;
  color: white;
  text-align: left !important;

  }
div {
    display: block;
}
h1 h2 h3 {
  font-weight: bold;
  color: white;
}
